.custombuttondegine.owl-theme .owl-item .item{
    margin: 0;
    padding: 0;
}

.custombuttondegine.owl-theme .owl-item{
    padding: 0;
    margin: 0;
}

.custombuttondegine.owl-theme .owl-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(calc(100% - 289px));
}

.custombuttondegine.owl-theme .owl-nav button img {
    width: 100%;
}

.custombuttondegine.owl-theme .owl-nav button {
    height: 103px;
    background: white !important;
    margin: 0px;
}

.custombuttondegine.owl-theme .owl-nav button.owl-prev {
    border-radius: 0px 5px 5px 0px;
    box-shadow: 3px 0px 7px 0px black;
}

.custombuttondegine.owl-theme .owl-nav button.owl-next {
    border-radius: 5px 0px 0px 5px;
    box-shadow: -2px 0px 5px 0px black;
}