#mainnavbar {
    padding-top: 5px;
}

#mainnavbar ._1TmfNK {
    height: 100%;
    min-width: 124px;
}

#mainnavbar ._2xm1JU {
    display: block;
}

#mainnavbar ._21ljIi.nav-link {
    font-size: 10px;
    font-style: italic;
    margin-top: -1px;
}

#mainnavbar ._21ljIi ._2FVHGh {
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
}


#mainnavbar .searchbar.nav-item {
    width: calc(100% - 644px);
    min-width: 304px;
}

#mainnavbar .searchbar form {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}

#mainnavbar .searchbar input {
    border-radius: 0;
}

#mainnavbar .searchbar form .L0Z3Pu {
    position: absolute;
    right: 0;
    background: #fff;
    border: none;
    cursor: pointer;
}

#mainnavbar #loginNavbutton {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    text-align: center;
    padding: 3px 40px;
    border: 1px solid #dbdbdb;
}

#mainnavbar .d-flex.justify-content-between.align-items-center.text-center.nav-item {
    width: calc(100% - 706px);
}

#mainnavbar a._3-PJz-.nav-link,
a#basic-nav-dropdown {
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
}

#mainnavbar ._3-PJz- .V3C5bO {
    width: 16px;
    height: 16px;
    margin: 0 8px;
}

#mainnavbar a._3SkBxJ.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
    gap: 5px;
}

#mainnavbar .dropdown-toggle {
    transition: all 0.4s ease !important;
}

#mainnavbar .dropdown-toggle.show:after {
    transform: rotateZ(178deg) !important;
}