#homenavbar {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    background: #fff;
    min-height: 112px;
    position: relative;
}

#homenavbar a{
    text-decoration: none;
    color: #040404;
}

#homenavbar ._396cs4 {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

#homenavbar .xtXmba {
    font-weight: 500;
    font-size: 14px;
}


#homenavbar .eFQ30H.nav-item:first-child {
    padding-left: 22px;
}

#homenavbar .eFQ30H.nav-item {
    padding: 3px 8px;
    text-align: center;
    cursor: pointer;
}